{% extends "default.html" %} 
{%load static%}
{% block container %} 
<form method='POST'>
    {% csrf_token %}
    <div class="adduser">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
    </div>

    <div class="aduser">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email">
    </div>
  
    <div class="aduser">
      <label for="Mobile">Mobile:</label>
      <input type="number" id="mobile" name="mobile">
    </div>
  
    <button type="submit" id='b'>Add_User</button>
  </form>
  {% endblock %}
